<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Refresh" content="{{timeout}}; url={{ url }}" />
    </head>
    <body>
        <p>{{message}}</p>
    </body>
</html>